.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.popupContent {
    background: #30363D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    color: white;
}
.popupChoice{
  margin-top: 10px;
}
  
  .popupActions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    
  }
  .cancel {
    background: #3C444C;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-family: Fira Sans;
    font-size: 14px;
  }
  
  .confirm {
    background: #6202EE;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-family: Fira Sans;
    font-size: 14px;
  }
  